
body {
    background: #F7EFFF;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* When page is fully loaded */
body.fade-in {
    opacity: 1;
}

/* When leaving page */
body.fade-out {
    opacity: 0;
}
html {
  scroll-behavior: smooth;
}   



/* ================= NAVBAR ================= */
.nav-center-category2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-category2{
   background-color: #9B6FC6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    height:68px;

     /* sticks nav-bar to top */
    position: sticky;
    top: 0;
    z-index:1000;
    /*.bottom-sections: 10px;*/
    /*.bottom-sectionsborder-bottom-right-radius: 10px;*/
    /*width:100%;*/
    
}

.logo-category2 img {
    height: 70px;
    margin-top:33px;
    margin-left:-60px;
    width: auto;
    transform: rotate(-19deg); /* Slightly tilt left; use positive values to tilt right */
    /*transition: transform 0.3s ease;  Optional: adds a smooth animation */
    /*align-items:left;*/
    /*margin-right:20px;*/
}   
#img1{
    margin-right:10px;
    height:150px;
}

/*====login btn===*/
.btn {
    padding: 10px 25px;
    background: #eda63e;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 8px 20px rgb(0, 0, 0, 0.15);
    margin-bottom: 15px;
    /*position:relative;*/
    /*right:150px;*/
}
.btn:hover {
    background: #ff5e00;
    border: #FA960B;
    border-color: black;
}

/*location dropdown*/
.location-category2{
    /*position:relative;*/
    /*right:250px;*/
    background: linear-gradient(140deg,#F7EFFF , #9B6FC6);
    height:40px;
    width:200px;
    border-radius: 20px;
    text-align: center;
    cursor:pointer;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
}

.location-category2 select {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer2
}

/* FIX: Add this */
.location-category2 select option {
    color: black;              /* visible text */
    background-color: #9B6FC6;   /* visible background */
    color:white;
}


.location-category2 select:hover{
    border-color:black;
}


    

/*============ Search bar ============*/
.search-bar {
    position: relative;
    /*right:250px;*/
    /*left:-300px;*/
    width: 51%;
    height:40px;
    margin-bottom:18px; 
    border:0.3px solid black;
    border-radius:20px;
    margin-top:20px;
}

.search-bar:hover{
    border-color: #E6501B;
    /*transform: scaleX(1.1);*//
}

.search-bar input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: black;
}

.search-bar img{
    height:15px;
    position:absolute;
    right:15px;
    top:13px;
    margin-right:7px;
}
/*.search-icon  {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 20px;
    height:10px;
}*/


/*=========== navigation icons(cart,menu) ==============*/
.nav-icons-category2 {
    display: flex;
    gap: 20px;        /* space between cart & menu */
    align-items: center;
    

}

.icon-circle-category2 {
    width: 70px;
    height: 50px;
    background: linear-gradient(140deg,#F7EFFF , #9B6FC6);
    border-radius: 26%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.icon-circle-category2 img {
    width: 30px;
    height: 30px;
}

#heart1 img{
    height:33px;
    width:33px;
    cursor: pointer;
}

#heart1:hover{
    transform: scale(0.9);
}

#cart1:hover{
    transform:scale(0.9);
}
.home1:hover{
    transform:scale(0.9);
}


/*---------products pinterest design-----------*/

.pinterest-section-category2 {
    padding: 40px;
}

.grid-title-category2 {
    /*text-align: center;*/
    margin-bottom: 30px;
    font-size: 30px;
    color: #6e3aa1;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0 4px 15px rgb(0, 0, 0, 0.15);
    font-family:cursive;
     animation: glowIn 1.5s ease forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

.grid-title-category2 img {
    width: 209px;   /* 👈 Change this to resize */
    height: auto;   /* Keeps correct proportion */
}


@keyframes glowIn {
    0% {
        opacity: 0;
        text-shadow: none;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 15px rgba(107,63,160,0.6);
        transform: translateY(0);
    }
}

.vault-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.back-btn {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #9B6FC6;
}

/* Arrow image styling */
.back-btn img {
    width: 30px;      /* control arrow size */
    height: auto;
    cursor: pointer;
    transition: 0.2s ease;
}

.back-btn:hover {
    transform: translateX(-5px);
}



/* Masonry Layout */
.masonry-grid-category2 {
    column-count: 5;        /* Number of columns */
    column-gap: 15px;
}

/* Each item */
.masonry-item-category2 {
    background: white;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
    border:2px solid #9B6FC6;
    

}

.masonry-item-category2 img {
    width: 100%;
    display: block;
    border-radius: 15px 15px 0 0;
}

.product-info-category2 {
    padding: 10px;
}

.masonry-item-category2:hover {
    transform: translateY(-3px);
}

/*---------product-buttons-----------*/

.cart-btn-category2{
    height:50px;
    background-color: #9B6FC6;
    border-radius: 20px;
    border:none;
    width:60px;
    cursor: pointer;
    margin-top:5px;
    display:flex;
    align-items:center;
    justify-content:center;
     box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
}

.cart-btn-category2 img{
    height:29.5px;
    width:29.5px;
}

.buy-now-category2{
    height:50px;
    background-color: #9B6FC6;
    border-radius: 20px;
    border:3px solid #9B6FC6;
    width:150px;
    cursor: pointer;
     box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15); 
}

.product-actions-category2{
    display: flex;
    align-items: center;
    justify-content: center; /* or center */
    gap: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

.buy-now-category2 span{
    align-items: center;
    font-size:20px;
    color: #Fdfdf8;
    font-weight: bolder;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.buy-now-category2{
    transform: scale(0.9);
}

.cart-btn-category2:hover{
    transform: scale(0.9);
}


.price1{
     font-weight: bold;
    color: #091db8;
    text-align: left;
    font-size:28px;
}


.back-top-category2{
    background-color: #9B6FC6;    
    height:60px;
    cursor: pointer;
}


#B1-category2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#B1-category2 span{
    margin-top:20px;
    font-size:19px;
    font-weight:5px;
    color: white;
    
    cursor: pointer;
}

button{
    margin-top:15px;
    background-color: #9B6FC6;
    border:none
}



/*--------- Footer -----------*/
.footer-category2{
    background-color: #F7EFFF;
    /*min-height:700px;*/
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.footer-text-category2{
    background-color: #F7EFFF;
    height:70px;
    margin-top:50px;
    gap:10px;
    line-height: 100%;
}

#f1{
    /*background-color:#FCF0EE;*/
    width:300px;
    height:300px;
    
}
#f2{
    
    width:300px;
    height:300px;
    border-left:1px solid #9B6FC6 ;
    
}
#f3{
    width:300px;
    height:300px;
    border-left:1px solid #9B6FC6;
}
#f4{
    width:300px;
    height:300px;
    border-left:1px solid #9B6FC6;
}

.footer-h3{
    text-align: center;
    font-size:25px;
    margin-top: 20px;
    color:#9B6FC6 ;
    text-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.footer-p{
    text-align: center;
    margin-top: 19px;
    color:black;
    font-size:17px;
}

a{
    text-decoration:none;
}

.footer2{
    background-color: #091db8;
    height:300px;
}

.footer-divider{
    border: none;
    height: 1px;
    background-color: #9B6FC6;
    margin: 0 60px 0 60px;
    opacity: 0.5;
}

/* Language Section */
.language-region-category2{
    text-align: center;
    padding: 15px 0;
    background-color: #F7EFFF;
}

.lang-title-category2{
    font-size: 26px;
    color: #9B6FC6;
    margin-bottom: 25px;
    text-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
}

.lang-box-category2{
    width: 280px;
    margin: 15px auto;
    padding: 12px;
    border: 1.5px solid #9B6FC6;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #9B6FC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.lang-box-category2 img{
    width:20px;
    margin-right:8px;
}

.lang-box-category2:hover{
    background-color: #CA90DA;
}

/* Bottom Branding */
.footer-bottom-category2{
    text-align: center;
    padding: 15px 0 25px 0;
    background-color: #F7EFFF;
}
.footer-bottom-category2 img{
    width:30px;
    margin-right:4px;
    margin-top: 4px; 
    transform: rotate(-10deg);
}

.brand-name-category2{
    color: #9B6FC6;
    font-size: 32px;
    margin-bottom: 15px;
}

.footer-bottom-category2 p{
    margin: 8px 0;
    font-size: 16px;
}

/*------- Menu ---------*/
/* Overlay background */

.menu-overlay-category2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}

/* Side Menu Panel */
.side-menu-category2{
    position: fixed;
    top: 0;
    right: -320px;  /* hidden initially */
    width: 320px;
    height: 100vh;
    background: #CA90DA;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);
    transition: 0.4s ease;
    z-index: 1000;
    padding: 20px;
}

/* When Active */
.side-menu-category2.active{
    right: 0;
}

.menu-overlay-category2.active{
    display: block;
}

/* Header */

.menu-header-category2{
     display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu-header-category2 h2{
    margin-left:0;
}

.close-btn-category2{
    font-size: 30px;
    cursor: pointer;
}

.close-category2{
    height:30px;
    background-color: #9B6FC6;
    border-radius: 20px;
    border:none;
    width:30px;
    cursor: pointer;
    margin-top:1px;
    display:flex;
    align-items:center;
    justify-content:center;
     box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
}

/*------------all links to varios pages--------------*/

.links-grp-category2{
    background-color: #Fdfdf8;
    height:80%;
    border-radius: 20px;
    align-items: left;
    display:flex ;
    justify-content: left;
    place-items: left;
    flex-direction: column;
    width:auto;
}

.list-links-category2{
     width: 230px;
    margin: 20px 20px 10px;
    padding: 12px;
    border: 2px solid #9B6FC6;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #9B6FC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
    display:flex ;
}

.list-links-category2:hover{
    background-color: #CA90DA;
}

.list-links-category2 p{
    font-size:23px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.list-links-category2 img{
     width:20px;
    margin-right:8px;
}

.logout-btn-category2{
    width: 207px;
    margin: auto 37px 20px;   /* bottom margin added */
    padding: 14px;
    border: none;
    border-radius: 30px;
    background-color: #CA90DA;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15);
}

.logout-btn:hover{
    background-color: #ff5e00;
     border: #FA960B;
    border-color: black;
}

.logo-category2{
    width: 201px;   /* adjust size if needed */
}

