Flask
Flask-Cors
psycopg2
python-dotenv


backend
│
├── app.py                # Main backend brain
├── config.py             # Database configuration
├── models.py             # Database tables
├── routes
│   ├── product_routes.py
│   ├── auth_routes.py
│   └── cart_routes.py
│
├── utils
│   └── db_connect.py
│
├── requirements.txt
│
└── .env